.section {
  margin-bottom: 100px;
  @include r(768) {
    margin-bottom: 50px;
  }
}
.hero {
  position: relative;
  padding-top: 195px;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #fff;
    @include r(1280) {
      font-size: 28px;
    }
    @include r(576) {
      font-size: 20px;
    }
  }
  &__text {
    margin-bottom: 50px;
    font-size: 34px;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
    @include r(1280) {
      font-size: 28px;
    }
    @include r(576) {
      font-size: 20px;
    }
  }
  &__btn {
    width: 190px;
    height: 50px;
  }
  &__slider {
    position: relative;
    margin-bottom: 70px;
    .swiper-wrapper {
      box-sizing: border-box;
    }
    &--navigation {
      position: absolute;
      top: 50%;
      display: flex;
      justify-content: space-between;
      width: 100%;
      z-index: 100;
      @include r(1440) {
        justify-content: flex-end;
        gap: 0 15px;
        top: calc(100% - 100px);
        right: 15px;
      }
    }
    &--button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      border: 1px solid rgba(255, 255, 255, 0.60);
      background: rgba(255, 255, 255, 0.40);
      backdrop-filter: blur(10px);
      border-radius: 50%;
      @include r(1280) {
        width: 50px;
        height: 50px;
      }
    }
    &--button-prev {
      margin-left: 100px;
      @include r(1280) {
        margin: 0;
      }
    }
    &--button-next {
      margin-right: 100px;
      @include r(1280) {
        margin: 0;
      }
    }
  }
  &__mouse {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: 0 auto;
  }
}
//service
.service {
  &__list {
    display: flex;
    justify-content: center;
    gap: 50px;
    @include r(1024) {
      flex-wrap: wrap;
    }
  }
  &__item {
    position: relative;
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
    background-color: #fff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.10);
    text-align: center;
    border-radius: 20px;
    @include r(1024) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  &__img {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    min-height: 155px;
    max-width: 90%;
  }
  &__caption {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  &__description {
    margin-bottom: 68px;
  }
  &__btn {
    margin: 0 auto;
  }
}

.content {
  p {
    color: #778397;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    b {
      font-weight: 900;
    }
  }
  ul {
    margin-bottom: 20px;
    margin-left: 20px;
    list-style-type: disc;
  }
  li {
    color: #778397;
  }
  &__big-mb {
    margin-bottom: 100px;
    @include r(1024) {
      margin-bottom: 30px;
    }
  }
  img {
    border-radius: 20px;
  }
  &__flex {
    display: flex;
    align-items: center;
    gap: 20px;
    @include r(1024) {
      flex-direction: column;
      gap: 30px 0;
    }
  }
}


// inner pages

.hero-page {
  position: relative;
  padding-top: 195px;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
  &__caption {
    font-weight: 700;
    font-size: 34px;
    line-height: 50px;
    color: #fff;
    margin-bottom: 20px;
     @include r(1280) {
      font-size: 28px;
    }
    @include r(1024) {
      font-size: 20px;
      line-height: 1.5;
    }
  }
  &__description {
    color: #fff;
    font-size: 34px;
    line-height: 50px;
    font-weight: 300;
     @include r(1280) {
      font-size: 28px;
    }
    @include r(1024) {
      font-size: 20px;
      line-height: 1.5;
    }
  }
}

.apix-projects {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    @include r(768) {
      flex-direction: column;
    }
  }
  &__item {
    flex: 0 0 25%;

    img {
      margin-bottom: 20px;
      border-radius: 20px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    }
  }
  &__caption {
    color: #212E33;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
  }
}

.feedback {
  padding: 100px 0;
  background-image: url('../img/fedd-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.displays {
  &__subcaption {
    margin: 0 auto 80px;
    text-align: center;
    color: #778397;
    max-width: 55%;
    @include r(768) {
      max-width: 100%;
      margin-bottom: 30px;
    }
    b {
      font-weight: 700;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 30px 110px;
    @include r(1440) {
      gap: 0 15px;
    }
    @include r(1024) {
      flex-direction: column;
      gap: 50px 0;
      justify-content: center;
      align-items: center;
    }
  }
  &__item {
    position: relative;
    flex: 0 0 calc((100% - 2 * 110px) / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include r(1440) {
      flex: 0 0 30%;
    }
    @include r(1024) {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -50px;
      width: 1px;
      height: 100%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #2556A0 51.04%, rgba(255, 255, 255, 0.00) 100%);
      @include r(1440) {
        left: -30px;
      }
      @include r(1024) {
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 105%;
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #2556A0 51.04%, rgba(255, 255, 255, 0.00) 100%);
      }
    }
    &:first-child::before {
      content: none;
      @include r(1024) {
        content: '';
      }
    }
    &:last-child::before {
      @include r(1024) {
        content: none;
      }
    }
  }
  &__caption {
    text-align: center;
    margin-bottom: 20px;
    color: #212E33;
    font-size: 24px;
    font-weight: 700;
  }
  &__description {
    margin-bottom: 50px;
    color: #212E33;
  }
  &__btn {
    margin: 0 auto;
    width: 190px;
    height: 50px;
  }
}

.apix-logo-text {
  font-family: 'HalyardMicroBold', sans-serif;
  font-weight: 500;
  font-size: 48px;
  color: #778397;
  text-transform: uppercase;
  text-align: center;
}
.content p.apix-logo-text {
  margin-bottom: 50px;
}
