<button class="btn-reset callback-btn" data-toggle="modal" data-target="#exampleModal">
  Связаться <br> с нами
  <span class="callback-btn__rings"></span>
  <span class="callback-btn__rings"></span>
  <span class="callback-btn__rings"></span>
  <span class="callback-btn__rings"></span>
</button>

<header class="header">
  <div class="container">
    <div class="row header__row">
      <div class="col-7  col-lg-2 col-xl-3 order-1 order-lg-0">
        <a href="/" class="header__logo logo">
          <svg width="150" height="45">
            <use xlink:href="assets/img/sprite.svg#logo"></use>
          </svg>
        </a>
      </div>
      <div class="col-lg-8 col-xl-7 col-sm-1 col-2  position-static  ">
        <button class="burger btn-reset js-open-mobile-menu">
          <span></span><span></span><span></span>
        </button>
        <nav class="nav header__nav js-mobile-menu">
          <button class="btn-reset close js-close-mobile-menu">
            <svg width="35" height="35">
              <use xlink:href="/assets/img/sprite.svg#icon-close"></use>
            </svg>
          </button>
          <ul class="nav__list">
            <li class="nav__item is-active"><a href="" class="nav__link">Главная</a></li>
            <li class="nav__item"><a href="" class="nav__link">IT Продукты</a></li>
            <li class="nav__item"><a href="" class="nav__link">Визуализация Barco</a></li>
            <li class="nav__item"><a href="" class="nav__link">Интегрированные Операционные</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-3 col-lg-2 order-3 order-lg-0">
        <div class="lang header__lang">
          <ul class="lang__list">
            <li class="lang__item is-active"><a href="" class="lang__link">Ru</a></li>
            <li class="lang__item"><a href="" class="lang__link">En</a></li>
            <li class="lang__item"><a href="" class="lang__link">Kz</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
